#quit-room-btn{
    background-color: #888888;
    border: 1px solid #333333;
    padding: 30px;
    width: 240px;
}
#game-page{
    display: flex;
    flex-direction: column;
}
#userBlock{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.user-block{
    padding: 20px;
}
.user-bar{
    height: 30px;
    width: 150px;
    border: 1px solid black;
}

.userName{

    color: red;
    border-radius: 50px;

}